.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  padding: 0 0 24px 0;
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  max-width: 496px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 28px 28px 36px;
  overflow: hidden;
}

.modal__content_type_preview {
  padding: 0;
}

.modal__close {
  background: transparent url(../../images/close-button.svg) center no-repeat;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  padding-top: 8px;
  border-bottom: 1px solid #000000;
}

.modal__legend {
  color: #000000;
  font-size: 16px;
  line-height: 1.25;
  padding: 24px 0 12px 0;
}

.modal__label {
  padding: 0 0 24px 0;
  gap: 8px;
}

.modal__radio-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  margin: 0;
  padding: 0 0 36px 0;
  border: none;
  color: #00000080;
}

.modal__radio-input {
  align-items: center;
  border: none;
}

.modal__label_type_radio {
  padding: 0;
}

input[type="radio"] {
  accent-color: #000000;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

.modal__submit {
  border-radius: 4px;
  gap: 8px;
  padding: 8px 16px;
  width: fit-content;
  color: #ffffff;
  background-color: #000000;
}

.modal__submit:hover {
  background-color: #00000099;
}
