.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s ease-in-out;
  pointer-events: none;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.modal__close {
  background: transparent url(../../images/close-button.svg) center no-repeat;
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.modal__content {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  max-width: 496px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 28px 28px 36px;
  overflow: hidden;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0;
  padding-top: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  padding-top: 8px;
  border-bottom: 1px solid #000000;
  margin: 0;
}

.modal__legend {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  padding-top: 24px;
  padding-bottom: 12px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  margin: 0;
}

.modal__radio-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin: 0;
  padding: 0;
  border: none;
  color: #00000080;
}

.modal__label_type_radio {
  margin: 0;
  padding: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.modal__radio-input {
  align-items: center;
  border: none;
  margin-right: 8px;
  padding: 0;
}

.modal__label_selected {
  color: #000;
}

.modal__label_selected .modal__radio-input {
  accent-color: #000;
}

.modal__label_unselected {
  color: rgba(0, 0, 0, 0.5);
}

.modal__label_unselected .modal__radio-input {
  accent-color: rgba(0, 0, 0, 0.5);
}

.modal__submit {
  margin-top: 32px;
  width: 128px;
  height: 36px;
  padding: 8px 16px;
  background-color: black;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: #0000004d;
  opacity: 30%;
  pointer-events: none;
}

@media screen and (max-width: 630px) {
  .modal__close {
    width: 21px;
    height: 21px;
  }

  .modal__content {
    padding: 32px 16px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__submit {
    width: 100%;
    height: 44px;
    margin: 32px auto 0;
  }
}
