.toggle-switch {
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 59px;
  height: 30px;
  /* overflow: hidden; */
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  transition-property: all 0.2s;
  left: 0;
}
.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

/*.toggle-switch__checkbox:not(checked) ~ .toggle-switch__text_F {
  color: black;
}*/

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: white;
  display: flex;
}
.toggle-switch__text {
  position: absolute;
  top: 5px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 14px;
  color: grey;
  text-align: center;
  line-height: 17px;
}
.toggle-switch__text_F {
  left: 9px;
}
.toggle-switch__text_C {
  right: 9px;
}
.toggle-switch__text_color_white {
  color: #fff;
}

@media (max-width: 820px) {
  .toggle-switch {
    width: 46px;
    height: 25px;
  }
  .toggle-switch__circle {
    width: 23px;
    height: 23px;
    left: 0;
  }
  .toggle-switch__checkbox:checked ~ .toggle-switch__circle {
    left: 20px;
  }
  .toggle-switch__text {
    font-size: 10px;
  }
}
