.card {
  width: 323px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url(../../images/close-button.svg) no-repeat;
}

.card__title_like {
  position: absolute;
  top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__name {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
  padding: 2px 12px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
  border-radius: 19px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.card__like-button {
  width: 18px;
  height: 15px;
  background-image: url("../../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
}

.card__like-button_active {
  width: 18px;
  height: 15px;
  background-image: url("../../images/heart-liked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border: none;
}
