.modal__content_type_image {
  position: relative;
  margin: auto;
  padding: 0;
  width: 498px;
  height: 610px;
  background-color: white;
  border-radius: 20px;
}

.modal__content {
  max-width: 498px;
  padding: 0;
  max-height: 670px;
  overflow: hidden;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.modal__close-preview {
  background-color: #ff4d00;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  display: flex;
  gap: 0px;
  align-items: center;
  min-height: 490px;
  max-width: 498px;
}

.modal__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 32px 0px 32px;
  background-color: white;
  width: 498px;
  height: 112px;
  gap: 0;
  box-sizing: border-box;
  width: 100%;
}

.modal__caption {
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: #00000080;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 200px;
}

.modal__footer-caption {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  width: auto;
}

.modal__delete {
  display: flex;
  flex-direction: column;
  margin-right: 20;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.modal__delete-btn {
  padding: 0;
  color: #ff4d00;
  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  width: 200px;
  background-color: white;
  border: none;
}
