.sidebar {
  display: flex;
  flex-direction: row;
  width: 229px;
  max-height: 56px;
  top: 135px;
  position: fixed;
}

.sidebar__username {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  line-height: 25px;
  padding-top: 16px;
  align-self: center;
  padding-left: 10px;
}
.sidebar__avatar {
  width: 56px;
  height: 56px;
  align-self: center;
}
